/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义字体样式 */
@layer base {
  body {
    @apply font-inter text-gray-800;
  }
  
  h1, h2, h3, h4 {
    @apply font-cormorant;
  }
}